.mainheader {background-color: #ff0000; color: white; text-align: center; }

h1 {font-family: 'Noto Sans Display', sans-serif; color: black;}
p {font-family: 'Noto Sans Display', sans-serif; color: darkblue; font-weight: 900;}
body {font-family: 'Zen Old Mincho', serif;}
